@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0px;
    
}
#encabezado {
   
    padding: auto;
    position: relative;
    display: flex;

}

#encabezado {
    color: black;
    display: flex;
    text-align: left;
    align-items: center;
    
}

#logo_center {
    background-color: white;
    text-align: left;
     }


#nav_center {
    background-color:white;
    padding-right: 0px;
    margin-left: auto;
    align-items: center;
}

#nav_list ul {
   /* padding-right: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 15px;*/
    align-items: center;
    }
    
#nav_list li {
    display: inline;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    color: black;
    text-align: right;
    
    
}    

a {
    padding-right: 15px;
    text-decoration: none;
    
}

a :visited {
    color: black;
    }
 
  

#banner {
    clear: both;
    width: 100%;
    height: 450px;
    background-image: url("imagenes/indexbanner-bg3.jpg");
    margin:auto;
    color: #fff;
    font-family: Raleway;
    padding-top: 50px;
    padding-left: 200px;
    box-sizing: border-box;
         
}

#banner_text h1 p {
    padding-top: 50px;
    ;
    }

#banner_text {
    width: 50%;
    margin-left:150px ;
}

#banner h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}




#form [type="submit"] {
    height: 50px;
    color: white;
    background-color: #00b2f2;
    width: 10%;
    margin-right: 0px;
    padding-right: 0;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
    border: 1px;
}

#form [type="text"] {
    width: 50%;
    height: 45px;
    margin-left: 0px;
    padding-left: 0px;  
    border: 1px solid #D3D9DB;
    font-size: 15px;
    font-family: Raleway; 
}

#form {
    margin-top: -25px;
}

#form [type="submit"] :hover {
    font-size: 20px;
}
.center{
    width: 80%;
    margin: auto;    
    text-align: center; 
    text-transform: capitalize;   
}

#section_1 {
    font-family: Raleway;
    padding-top: 50px;
    margin: auto;
    width: 80%;
}

.float_left {
    float: left;
    width: 25%;
    text-align: center;
    padding: ;
    }

.float_left p {
    padding: 5px;
    
}

.float_left2 {
    float: left;
    width: 33%;
    text-align: center;
    height: 100%;
    
}

hr {
    width: 50%;
}

#section_1 h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

    
#section_1 {
    overflow: hidden;
    
}

#hostro_services {
    font-family: Raleway;
    color: black;
    width: 80%;
    margin: auto;
    float: clear;
    height: 600px;
    
    }

#points  {
    float: clear;
    width:50px ;
    margin: auto;
    margin-top: 50px;
}    
    
h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom:-10px;
}

.left_img {
    float: right;
    }
 
 .left_items {
     margin-right: 55px;
    
 }
 .left_items h4 {
    text-transform: uppercase;
    font-family: Raleway;
    text-align: right;
    font-weight: bold;
 }
 
.left_items p {
    font-family: Raleway;
    text-align: right;
}

.right_img {
    float: left;
    }
 
 .right_items {
     margin-left: 55px;
  
 }
 .right_items h4 {
    text-transform: uppercase;
    font-family: Raleway;
    text-align: left;
    font-weight: bold;
 }
 
.right_items p {
    font-family: Raleway;
    text-align: left;
}


#imagen {
  /*  width: 200px;
    height: 400px;*/
   }

#phone {
    margin-bottom: -50px;
    height: 500px;
    }

#right_column {
    height: 300px;
}

#left_column {
    height: 300px;
}

#planes {
    font-family: Raleway;
    color: black;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: auto;
    background-image: url(imagenes/pricing-bg1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}


.box {
    width: 80%;
    background-color: white;
    margin: auto;
    padding-top: 20px;
    height: 300px;
}



#planes h3 {
    text-transform: uppercase;
}

 

.price span {
    font-size: 50px;
    font-family: 'open sans';
    font-weight: bold;
   }
   

.td_small {
   color: cyan;
   text-align: left;
   padding-left: 10px;
   }
   
.td_normal {
    color: #F7BF05;
    text-align: left;
    padding-left: 10px;
}   

.td_big {
    color:#F79205;
    text-align: right;
    padding-left: 10px;
}

.td_best {
    color: red;
    text-align: right;
    padding-left: 10px;
}

table {
    text-align: center;
    margin: auto;  
}

table tr  {
    text-align: left;
}

#section_4 {
    background-color: rgb(20, 46, 63);
    width: 100%;
    height: 250px;
    margin-bottom: 0px;
    border-bottom: 0px;
    }
    
#section_4 h1 {
    padding-top: 110px;
    color: white;
    
}    

#section_4 span {
    color: rgb(0,180 ,235);
}

#button {
    
}

button {
    background-color:#00b2f2;
    width: 70%;
    height: 35px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: auto;
    text-align: center;
    padding-bottom: 0px;
    padding: auto;
}

button a {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-left: 15px;    
}

#tables {
    width: 75%;
    margin: auto;
}

footer {
    height: 100px;
    background-color: rgb(9, 23, 24);
    margin-top: -16px;
    border-top: 0px;
    padding-top: 60px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    color: white;
    font-family: Raleway;
    }
    
/* #footer_content p {
    
     width: 50%;
     display: inline;
     text-align: left;
     margin: auto;
     float: left;
     
    }*/
    
footer nav {
       
    width: 50%;
    text-align: right;
    margin: auto;
    display: inline;
    
    }

#nav_bottom {
   
    width: 50%;
    margin: auto;
    text-align: right;
    display: inline;
}
        
#nav_bottom li {
    display: inline;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    color: white;
    text-align: right;  
    padding: 0px; 
    
}   

#footer_content {
    width: 80%;
    margin: auto;
    display: flex;
}

#copy {
    width: 50%;
}
    



button a:visited {color:white}

button:hover {transform: scale(1.05); }

#nav_list  a:visited {color: black}

#nav_bottom  a:visited {color: white;}

#nav_list a:hover {color: grey;}

button {
transition: transform 0.1s linear 0s, color 0.1s linear 0ms}

.iconos:hover {
    transform: scale(1.25);}
  
.iconos {
    transition: transform 0.5s ease-in-out 0s;
   }
   
#submit_button:hover  {transform: scale(1.05);

transition: transform 0.1s linear 0s;
}   

#title {
    background-image: url(imagenes/indexbanner-bg2.jpg);
    background-size: cover;
    color: white;
    font-family: Raleway;
    text-align: center;
    height:300px;
    padding-top: 120px;
    margin-top: 20px;
       
}

#title h1 {
    font-weight: bold;
    font-size: 25px;
    }
    
#title_form {
    color: black;
    font-family: Raleway;
    text-align: center;
    height:100px;
    padding-top: 50px;
    margin-top: 20px;
    width: ;
    margin: auto;
}

#formulario {
    width: 70%;
    margin: auto;
    height: 400px;
}

.data {
    width: 50%;
    float: left;
    height: 200px;
}



#form [type="submit"] {
    height: 50px;
    color: white;
    background-color: #00b2f2;
    width: 10%;
    margin-right: 0px;
    padding-right: 0;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
    border: 1px;
}

#formulario [type="text"] {
    width: 95%;
    height: 45px;
    margin-left: 0px;
    padding-left: 0px;  
    border: 1px solid #D3D9DB;
    font-size: 15px;
    font-family: Raleway; 
}

#message {
    width:472.14px;
    height: 178px;;
    font-size: 15px;
    font-family: Raleway;
    float: right;
    text-align: right:
     
       
}

#message_area {
    width: 50%;
    height: 100%;
    font-size: 15px;
    font-family: Raleway;
    float: right;
    height: 200px;
   
    
}
    
}


#formulario {
    margin-top: -25px;
}

#formulario [type="submit"] :hover {
    font-size: 20px;
}

#submit_button {
    background-color:#00b2f2;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: auto;
    text-align: center;
    padding-bottom: 0px;
    padding: auto;    
    clear: both;
}

#button {
    width: 100%;
    margin-top:-40px;
    padding-top: 0px;
    margin-bottom: 20px;
    text-align:center;
    
}
