html {
  background-color: blue;
}
html header {
  background-color: green;
}
html header .logo {
  float: left;
  align-items: center;
  margin: auto;
}
html header .nav_top {
  float: right;
  margin: auto;
  align-items: center;
}
html header .nav_top .ul {
  list-style: none;
  display: inline;
}
html header .nav_top .ul li {
  text-decoration: none;
  color: red;
}
